<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- IISNode Configuration for Node.js Express on Azure App Service -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Make sure error responses are returned as-is -->
    <httpErrors existingResponse="PassThrough" />

    <iisnode
      node_env="production"
      loggingEnabled="true"
      debuggingEnabled="false"
      devErrorsEnabled="false" />
  </system.webServer>
</configuration>
